/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ========================================================================== */
:root {
	--color-bg: #e9e8ea;
	--color-primary: #e9e8ea;
	--color-secondary: #101e32;
	--color-secondary-alpha: #101e329f;
	--color-skill-level: var(--color-primary);
	--hex-size: 3rem;
	--icon-size: 1.5rem;
}

@page {
	size: A4 portrait;
	margin: 0;
}

@media print {
	a {
		color: var(--color-secondary);
		display: initial;
	}

	.summary a::after {
		content: " (" attr(href) ")";
	}

	.company {
		break-inside: avoid;
	}
}

html,
body {
	font-size: 12px;
}

body {
	border: none;
	display: grid;
	color: var(--color-secondary);
	background-color: var(--color-bg);
	font-family: Roboto, sans-serif;
	grid-template-columns: 20rem 2fr;
	grid-template-areas: "sidebar main";
}

main {
	border: none;
	grid-area: main;
	padding-bottom: 2rem;
	background-color: var(--color-bg);
	--color-hexagon: var(--color-secondary);
	--color-icon: var(--color-secondary);
}

aside {
	border: none;
	grid-area: sidebar;
	color: var(--color-primary);
	background-size: cover;
	background-color: var(--color-secondary);
	--color-hexagon: var(--color-primary);
	--color-icon: var(--color-secondary);
}

aside a {
	color: var(--color-primary);
}

aside li {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

aside li>div {
	padding: 0 0.5rem;
}

aside .heading {
	--color-icon: var(--color-primary);
	--hex-size: 3rem;
	--icon-size: 1.5rem;
}

section {
	padding-left: 1rem;
}

summary {
	font-size: 1rem;
	line-height: 1.125;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

i[class^="fa-"] {
	color: var(--color-icon, white);
	font-size: var(--icon-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	page-break-after: avoid;
}

h1 {
	font-weight: 700;
}

h2 {
	font-size: 1.1rem;
	font-weight: 400;
}

h3 {
	border: none;
	display: flex;
	align-items: center;
	font-weight: 400;
	position: relative;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

sup {
	display: inline-block;
	--color-icon: none;
	--icon-size: none;
}

.dates {
	font-size: .9rem;
	margin-bottom: 5px;
	--color-icon: none;
	--icon-size: none;
}

.dates>i {
	margin: .25rem;
	opacity: 0.7;
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem auto 0.5rem;
	width: 10rem;
	height: 10rem;
	position: relative;
	--hex-size: none;
	--color-hexagon: var(--color-primary);
}

.name {
	color: #fff;
	text-align: center;
	font-size: 1.75rem;
	text-transform: uppercase;
}

.name>span:first-of-type {
	color: var(--color-primary);
	font-weight: 300;
}

.title {
	color: var(--color-primary);
	font-size: 1.25rem;
	font-weight: 300;
	text-align: center;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0 1rem;
}

.heading>h3 {
	padding: 0 1rem 0 0.5rem;
}

.heading>hr {
	flex: 1;
	border: none;
	border-bottom: 2px solid var(--color-icon);
}

.heading>h4 {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}

.heading>h4>a {
	font-size: .9rem;
	opacity: 0.6;
}

.heading>.hex-icon {
	--hex-size: 3rem;
	--icon-size: 1.25rem;
}

.work .company,
.education .institution {
	padding-right: 1rem;
}

.work .company .heading,
.education .institution .heading {
	align-items: unset;
}

.work>div:nth-child(2) .heading,
.education>div:nth-child(2) .heading {
	padding-top: 0;
}

.work .position {
	font-size: 0.9rem;
	opacity: 0.6;
}

.work .summary {
	margin: 8px 0 16px 0;
}

.work .highlights {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	font-size: .5rem;
}

.work .highlights>.stack {
	color: white;
	display: inline;
	padding: 2px 8px;
	transform: skewX(-15deg);
	border-radius: 8px 0 8px 0;
	background-color: var(--color-secondary);
}

.skill-group {
	break-inside: avoid;
	padding-top: 1rem;
}

.skills>div:nth-of-type(2) {
	padding-top: 0;
}

.skills h5 {
	opacity: 0.6;
}

.skill {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 1rem 0 0.5rem;
}

.skill>h3 {
	display: inline-block;
	margin: 1rem 0;
}

.skill-level {
	height: .5rem;
	width: 1rem;
	display: inline-block;
	transform: skewX(-45deg);
	opacity: .25;
	background-color: var(--color-skill-level);
}

.skill-level-active {
	opacity: 1;
}

.hex {
	width: var(--hex-size, 2rem);
	height: var(--hex-size, 2rem);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-position: center center;
	-webkit-mask-position: center center;
	background-color: var(--color-hexagon, --color-primary);
}

.hex-border {
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTA2LjQ0IDEyMi44OCI+CiAgPHBhdGggZmlsbD0iY3VycmVudENvbG9yIgogICAgZD0iTTU1LjA2LDEuMDdsNTEuMzcsMjkuNjZ2NjEuNDNsLTUzLjIyLDMwLjczTDAsOTIuMTVWMzAuNzNMNTMuMjIsMEw1NS4wNiwxLjA3TDU1LjA2LDEuMDd6IE03Ni4xMywyMS43NEw1My4yMiw4LjUxIEw3LjM5LDM0Ljk3djUyLjk0bDQ1LjgzLDI2LjQ2bDQ1LjgzLTI2LjQ2VjM0Ljk3TDc2LjEzLDIxLjc0TDc2LjEzLDIxLjc0eiIgLz4KPC9zdmc+Cg==");
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTA2LjQ0IDEyMi44OCI+CiAgPHBhdGggZmlsbD0iY3VycmVudENvbG9yIgogICAgZD0iTTU1LjA2LDEuMDdsNTEuMzcsMjkuNjZ2NjEuNDNsLTUzLjIyLDMwLjczTDAsOTIuMTVWMzAuNzNMNTMuMjIsMEw1NS4wNiwxLjA3TDU1LjA2LDEuMDd6IE03Ni4xMywyMS43NEw1My4yMiw4LjUxIEw3LjM5LDM0Ljk3djUyLjk0bDQ1LjgzLDI2LjQ2bDQ1LjgzLTI2LjQ2VjM0Ljk3TDc2LjEzLDIxLjc0TDc2LjEzLDIxLjc0eiIgLz4KPC9zdmc+Cg==");
}

.hex-solid {
	transform: scale(0.95);
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzMuMjA1MDgwNzU2ODg3NzIgMjAwIj4KICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiCiAgICBkPSJNODYuNjAyNTQwMzc4NDQzODYgMEwxNzMuMjA1MDgwNzU2ODg3NzIgNTBMMTczLjIwNTA4MDc1Njg4NzcyIDE1MEw4Ni42MDI1NDAzNzg0NDM4NiAyMDBMMCAxNTBMMCA1MFoiPjwvcGF0aD4KPC9zdmc+Cg==");
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzMuMjA1MDgwNzU2ODg3NzIgMjAwIj4KICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiCiAgICBkPSJNODYuNjAyNTQwMzc4NDQzODYgMEwxNzMuMjA1MDgwNzU2ODg3NzIgNTBMMTczLjIwNTA4MDc1Njg4NzcyIDE1MEw4Ni42MDI1NDAzNzg0NDM4NiAyMDBMMCAxNTBMMCA1MFoiPjwvcGF0aD4KPC9zdmc+Cg==");
}

.hex-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hex-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	--hex-size: 2rem;
	--icon-size: 1rem;
}

.hex-icon>i[class^="fa-"] {
	position: absolute;
}
